name: CI

on: [push, pull_request]

env:
  LINT_PROCEED: false


jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        sm-version: [ '1.10' ]

    name: SM version ${{ matrix.sm-version }}


    steps:
      - name: Setup 32-bit library
        # This is for local
        continue-on-error: true
        run: |
          apt-get update
          sudo apt-get install -y lib32z1 lib32stdc++6

        # leave this at first. This will reset all of the files.
      - name: Setup Source
        uses: actions/checkout@master

      - name: Setup SourceMod
        run: |
          wget --input-file=http://sourcemod.net/smdrop/${{ matrix.sm-version }}/sourcemod-latest-linux
          tar -xzf $(cat sourcemod-latest-linux)

      - name: Setup Include
        working-directory: addons/sourcemod/scripting
        run: |
          wget "http://www.doctormckay.com/download/scripting/include/morecolors.inc" -P include
          wget "https://raw.githubusercontent.com/asherkin/TF2Items/master/pawn/tf2items.inc" -P include
          wget "https://raw.githubusercontent.com/nosoop/tf2attributes/master/scripting/include/tf2attributes.inc" -O include/tf2attributes.inc
          wget "https://raw.githubusercontent.com/TeamPotry/tutorial_text/master/addons/sourcemod/scripting/include/tutorial_text.inc" -P include
          wget "https://raw.githubusercontent.com/TeamPotry/SourceMod-DBSimple/master/include/db_simple.inc" -P include
          wget "https://raw.githubusercontent.com/TeamPotry/plugins_in_FF2/master/addons/sourcemod/scripting/include/unixtime_sourcemod.inc" -P include
          wget "https://raw.githubusercontent.com/nosoop/SM-TFUtils/master/scripting/include/tf2utils.inc" -P include
          wget "https://raw.githubusercontent.com/nosoop/sourcemod-tf2wearables/master/addons/sourcemod/scripting/include/tf2wearables.inc" -P include
          wget "https://raw.githubusercontent.com/peace-maker/DHooks2/dynhooks/sourcemod_files/scripting/include/dhooks.inc" -P include
          wget "https://raw.githubusercontent.com/Nopied/MannVsMann/master/addons/sourcemod/scripting/include/mannvsmann.inc" -P include
          wget "https://raw.githubusercontent.com/TeamPotry/FF2_boss_selection/master/addons/sourcemod/scripting/include/ff2_boss_selection.inc" -P include
          wget "https://raw.githubusercontent.com/TeamPotry/plugins_in_FF2/master/addons/sourcemod/scripting/include/medigun_patch.inc" -P include
          wget "https://forums.alliedmods.net/attachment.php?attachmentid=164494&d=1501170745" -O include/CBaseAnimatingOverlay.inc

      - name: Compile
        working-directory: addons/sourcemod/scripting
        run: |
         chmod +x spcomp
         mkdir compiled compiled/freak_fortress_2
         ./compile.sh freak_fortress_2.sp freak_fortress_2/*.sp

 #     - name: Upload plugin artifact
 #       uses: actions/upload-artifact@master
 #       with:
 #         name: Plugin
 #         path: addons/sourcemod/scripting/compiled
